<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/common.css">
		<!-- Verify User //Paired with backend Verification-->
		<meta charset="utf-8">
		<title>Library: Edit</title>
	</head>
	<body>
		<div id="vueModel">
			<!--Nav		-->
			<nav>
				<a href="./browse.html"><button>Browse</button></a><br>
				<button @click="changeTable('authors')">Authors</button>
				<button @click="changeTable('books')">Books</button>
				<button @click="changeTable('users')">Users</button>
			</nav>
			<!--Authors	-->
			<div>{{errorMessage}}</div>
			<div v-if="table === 'authors'">
				<div v-html="tables.authors.printHeader()"></div>
				<!-- ADD NEW AUTHOR CONTROLS -->
				<div class="row-container">
					<div class="record box"><input type="text" name="name" v-model="tables.authors.controls.name"></div>
					<div class="record box"><input type="number" name="age" v-model="tables.authors.controls.age"></div>
					<div class="record box"><input type="text" name="genres" v-model="tables.authors.controls.genres"></div>
					<div class="record box">
						<button @click="tables.authors.controls.createNewRecord()">Add New Author</button>
					</div>
				</div>
				<div class="row-container" v-for='author in tables.authors.getRecords()'>
					<!-- AUTHOR NAME -->
					<div v-if="author.state==='view' || author.state==='delete'" class="record box">{{author.name}}</div>
					<div v-if="author.state==='edit'" class="record box">
						<input type="text" name="name" v-model='author.name'>
					</div>
					
					<!-- AUTHOR AGE-->
					<div v-if="author.state==='view' || author.state==='delete'" class="record box">{{author.age}}</div>
					<div v-if="author.state==='edit'" class="record box">
						<input type="number" name="age" v-model='author.age'>
					</div>
					
					<!-- AUTHROR GENRES-->
					<div v-if="author.state==='view' || author.state==='delete'" class="record box">{{author.genres}}</div>
					<div v-if="author.state==='edit'" class="record box">
						<input type="text" name="genres" v-model='author.genres'>
					</div>

					<!-- AUTHOR EDIT CONTROLS -->
					<div class="record box">
						<button @click="author.changeState('edit')" v-if="author.state==='view' || author.state==='delete'">Edit</button>
						<button @click="author.changeState('confirmEdit')" v-if="author.state==='edit'">Commit</button>
						<button @click="author.changeState('cancelEdit')" v-if="author.state==='edit'">Cancel</button>
					</div>
					<!-- AUTHOR DELETE CONTROLS -->
					<div class="record box">
						<button @click="author.changeState('delete')" v-if="author.state==='view' || author.state==='edit'">Delete</button>
						<button @click="author.changeState('confirmDelete')" v-if="author.state==='delete'">Confirm</button>
						<button @click="author.changeState('cancelDelete')" v-if="author.state==='delete'">Cancel</button>
					</div>
				</div>
			</div>
			<!--Books	-->
			<div v-if="table === 'books'">
				<div v-html="tables.books.printHeader()"></div>
				<!-- ADD NEW BOOK CONTROLS -->
				<div class="row-container">
					<div class="record box"><input type="text" name="title" v-model="tables.books.controls.title"></div>
					<div class="record box"><input type="text" name="author" v-model="tables.books.controls.author"></div>
					<div class="record box"><input type="text" name="age" v-model="tables.books.controls.genre"></div>
					<div class="record box"><input type="number" name="year" v-model="tables.books.controls.year"></div>
					<div class="record box"><input type="text" name="age_group" v-model="tables.books.controls.ageGroup"></div>
					<div class="record box">
						<button @click="tables.books.controls.createNewRecord()">Add New Book</button>
					</div>
				</div>
				<div class="row-container" v-for='book in tables.books.getRecords()'>
					<!-- TITLE -->
					<div v-if="book.state==='view' || book.state==='delete'" class="record box">{{book.title}}</div>
					<div v-if="book.state==='edit'" class="record box">
						<input type="text" name="title" v-model='book.title'>
					</div>
					<!-- AUTHOR -->
					<div v-if="book.state==='view' || book.state==='delete'" class="record box">{{book.author}}</div>
					<div v-if="book.state==='edit'" class="record box">
						<input type="text" name="name" v-model='book.author'>
					</div>
					<!-- GENRE -->
					<div v-if="book.state==='view' || book.state==='delete'" class="record box">{{book.genre}}</div>
					<div v-if="book.state==='edit'" class="record box">
						<input type="text" name="name" v-model='book.genre'>
					</div>
					<!-- YEAR -->
					<div v-if="book.state==='view' || book.state==='delete'" class="record box">{{book.year}}</div>
					<div v-if="book.state==='edit'" class="record box">
						<input type="text" name="name" v-model='book.year'>
					</div>
					<!-- AGE GROUP -->
					<div v-if="book.state==='view' || book.state==='delete'" class="record box">{{book.ageGroup}}</div>
					<div v-if="book.state==='edit'" class="record box">
						<input type="text" name="name" v-model='book.ageGroup'>
					</div>
					
					<!-- BOOK EDIT CONTROLS -->
					<div class="record box">
						<button @click="book.changeState('edit')" v-if="book.state==='view' || book.state==='delete'">Edit</button>
						<button @click="book.changeState('confirmEdit')" v-if="book.state==='edit'">Commit</button>
						<button @click="book.changeState('cancelEdit')" v-if="book.state==='edit'">Cancel</button>
					</div>
					
					<!-- BOOK DELETE CONTROLS -->
					<div class="record box">
						<button @click="book.changeState('delete')" v-if="book.state==='view' || book.state==='edit'">Delete</button>
						<button @click="book.changeState('confirmDelete')" v-if="book.state==='delete'">Confirm</button>
						<button @click="book.changeState('cancelDelete')" v-if="book.state==='delete'">Cancel</button>
					</div>
				</div>
			</div>
			<!--Users	-->
			<div v-if="table === 'users'">
				<div v-html="tables.users.printHeader()"></div>
			</div>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script src="./js/edit.js" type="module"></script>
	</body>
</html>